{% extends 'base.html' %}
{% block head %}
<link href="/static/css/register.css" rel="stylesheet">
<script src="/static/javascript/javascript.js"></script>
{% endblock %}
{% block content %}

    <style>
  table {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid black; /* Breedte van de rand */
  }

  th, td {
    border: 1px solid black; /* Optioneel: Breedte van de binnenste randen van de cellen */
    padding: 8px; /* Optioneel: Ruimte binnen de cellen */
    text-align: left; /* Optioneel: Tekstuitlijning */
  }
</style>

<h1 class="row justify-content-center">Bekijk Alle onderzoeken</h1>
<div class="container mt-5">
  <div class="row justify-content-left">
    <div class="col-sm-1">
      <a href="{{ url_for('beheerder.beheerder') }}" class="btn btn-primary mb-3">Terug</a>
    </div>
      <div class="col-sm-8"><input class="form-control margin_bottom" id="myInput" type="text"
                                     placeholder="zoeken..."></div>
  </div>
</div>
  <div class="container mt-5">
    <table id="evd-table" border="1">
      <thead>
        <tr>
    <th style="width: 150px;">Titel</th>
    <th style="width: 150px;">Beschrijving</th>
    <th style="width: 200px;">Datum vanaf</th>
    <th style="width: 150px;">Datum tot</th>
    <th style="width: 100px;">Type onderzoek</th>
    <th style="width: 75px;">Locatie</th>
    <th style="width:  75px;">Met beloning</th>
    <th style="width:  75px;">Type beperking</th>
    <th style="width: 200px;">leeftijd vanaf</th>
    <th style="width: 150px;">leeftijd tot</th>
    <th style="width: 125px;">Status</th>
            <th style="width: 175px;">Bekijken</th>
            <th style="width: 175px;">Actie</th>
        </tr>
      </thead>
      <tbody>
        {% for alle_onderzoeken in alle_onderzoeken %}
        <tr>
          <td>{{ alle_onderzoeken['titel'] }}</td>
          <td>{{ alle_onderzoeken['beschrijving'] }}</td>
          <td>{{ alle_onderzoeken['datum_vanaf'] }}</td>
          <td>{{ alle_onderzoeken['datum_tot'] }}</td>
          <td>{{ alle_onderzoeken['type_onderzoek'] }}</td>
          <td>{{ alle_onderzoeken['locatie'] }}</td>
          <td>{{ "Ja" if alle_onderzoeken['met_beloning'] == 1 else "Nee" }}</td>
          <td>{{ alle_onderzoeken['beperking'] }}</td>
          <td>{{ alle_onderzoeken['doelgroep_leeftijd_van'] }}</td>
          <td>{{ alle_onderzoeken['doelgroep_leeftijd_tot'] }}</td>
          <td>{{ alle_onderzoeken['status'] }}</td>
          <td>
            <form method="post" action="{{ url_for('beheerder.view_onderzoek', onderzoek_id=alle_onderzoeken['id']) }}">
                <input type="submit" value="Bekijk Onderzoek">
            </form>
          </td>
            <td>
            {% if alle_onderzoeken['status'] == 'nieuwe' or alle_onderzoeken['status'] == 'afgekeurd'%}
            <form method="post" action="{{ url_for('beheerder.confirm_onderzoek_no_redirect', id = alle_onderzoeken['id']) }}">
                <input type="submit" value="Goedkeuren">
            </form>
                {% endif %}
         {% if alle_onderzoeken['status'] == 'nieuwe' or alle_onderzoeken['status'] == 'goedgekeurd'%}
            <form method="post" action="{{ url_for('beheerder.deny_onderzoek_no_redirect', id = alle_onderzoeken['id']) }}">
                <input type="submit" value="Afkeuren">
            </form>
        </td>
        {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}