{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Dashboard</title>
	<link rel="stylesheet" href="beheerder.css">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="card text-white bg-primary mb-3" style="max-width: 55rem;">
					<div class="card-header">Registraties</div>
					<div class="card-body">
						<h5 class="card-title">Aantal goed te keuren registraties <span id="investigationCount1">0</span></h5>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card text-white bg-primary mb-3" style="max-width: 55rem;">
					<div class="card-header">Onderzoeken</div>
					<div class="card-body">
						<h5 class="card-title">Aantal goed te keuren onderzoeken <span id="investigationCount2">0</span></h5>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card text-white bg-primary mb-3" style="max-width: 55rem;">
					<div class="card-header">Inschrijvingen voor onderzoeken</div>
					<div class="card-body">
						<h5 class="card-title">aantal goed te keuren aanvragen <span id="investigationCount3">0</span></h5>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="beheerder.js"></script>
</body>
</html>


{% endblock %}