{% extends 'base.html' %}
{% block head %}
<link href="/static/css/register.css" rel="stylesheet">
<script src="/static/javascript/javascript.js"></script>
{% endblock %}
{% block content %}

<h1 class="row justify-content-center">Ervaringsdeskundige overzicht</h1>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">

      <table id="evd-table" border="1">
        <thead>
          <tr>
            <th>Naam</th>
            <th>Achternaam</th>
            <th>Gebruikersnaam</th>
            <th>Email</th>
            <th>Telefoonnummer</th>
            <th>Geboortedatum</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          {% for evd in all_evd%}
          <tr>
            <td>{{evd['voornaam']}}</td>
            <td>{{evd['achternaam']}}</td>
            <td>{{evd['gebruikersnaam']}}</td>
            <td>{{evd['email']}}</td>
            <td>{{evd['telefoonnummer']}}</td>
            <td>{{evd['geboortedatum']}}</td>
            <td>{{evd['status']}}</td>
            <td>
              <form method="post" action="{{ url_for('auth.view_evd', evd_id = evd['id']) }}">
              <input type="submit" value="view">
              </form>
            </td>
            {% if evd['status'] == 'nieuw' or evd['status'] == 'afgekeurd'%}
            <td>
              <form method="post" action="{{ url_for('auth.confirm_evd', evd_id = evd['id']) }}">
              <input type="submit" value="goedkeuren">
              </form>
            </td>
            {% endif %}
            {% if evd['status'] == 'nieuw' or evd['status'] == 'goedgekeurd'%}
            <td>
              <form method="post" action="{{ url_for('auth.deny_evd', evd_id = evd['id']) }}">
              <input type="submit" value="afkeuren">
              </form>
            </td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}