{% extends 'base.html' %}
{% block head %}
<link href="/static/css/register.css" rel="stylesheet">
<script src="/static/javascript/javascript.js"></script>
{% endblock %}
{% block content %}

    <style>
  table {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid black;
  }

  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }
</style>

<h1 class="row justify-content-center">Bekijk inschrijvingen op onderzoeken</h1>
<div class="container mt-5">
  <div class="row justify-content-left">
    <div class="col-sm-1">
      <a href="{{ url_for('beheerder.beheerder') }}" class="btn btn-primary mb-3">Terug</a>
    </div>
      <div class="col-sm-8"><input class="form-control margin_bottom" id="myInput" type="text"
                                     placeholder="zoeken..."></div>
  </div>
</div>
  <div class="container mt-5">
    <table id="evd-table" border="1">
      <thead>
        <tr>
    <th style="width: 150px;">Naam</th>
    <th style="width: 150px;">Achternaam</th>
    <th style="width: 200px;">Onderzoek</th>
    <th style="width: 150px;">Type onderzoek</th>
    <th style="width: 100px;">Met beloning</th>
    <th style="width: 175px;">Datum Inschrijving</th>
    <th style="width:  75px;">Status</th>
    <th style="width: 200px;">Bekijk</th>
            <th style="width: 200px;">Actie</th>
        </tr>
      </thead>
      <tbody>
        {% for inschrijvingen in inschrijvingen %}
        <tr>
          <td>{{ inschrijvingen['voornaam'] }}</td>
          <td>{{ inschrijvingen['achternaam'] }}</td>
          <td>{{ inschrijvingen['titel'] }}</td>
          <td>{{ inschrijvingen['type_onderzoek'] }}</td>
          <td>{{ inschrijvingen['met_beloniong'] }}</td>
          <td>{{ inschrijvingen['Datum_laatste_status_update'] }}</td>
          <td>{{ inschrijvingen['status'] }}</td>
          <td>
              <form method="post" action="{{ url_for('beheerder.view_evd', evd_id=inschrijvingen['id']) }}">
                <input type="submit" value="Bekijk ervaringsdeskundige">
            </form>
              <form method="post" action="{{ url_for('beheerder.view_onderzoek', onderzoek_id=inschrijvingen['id']) }}">
                <input type="submit" value="Bekijk Onderzoek">
            </form>
          </td>
        <td>
            <form method="post" action="{{ url_for('beheerder.confirm_inschrijving', onderzoek_id = inschrijvingen['onderzoek_id']) }}">
                <input type="submit" value="Goedkeuren">
            </form>
            <form method="post" action="{{ url_for('beheerder.deny_inschrijving', onderzoek_id = inschrijvingen['onderzoek_id']) }}">
                <input type="submit" value="Afkeuren">
            </form>
        </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}