{% extends 'base.html' %} {% block head %}
<link href="/static/css/ervaringsdeskundige.css" rel="stylesheet" />
<script src="/static/javascript/ervaringsdeskundige.js"></script>
{% endblock %}

{% block content %}
<div class="container-flex">
  <h1> Onderzoeken van {{session["evd"]["gebruikersnaam"]}}</h1>

  <div class="reserarch-list-container">

    <ul class="nav nav-tabs " style="display: grid;grid-template-columns: 20% 20% 20% 20% 20%" role="tablist">

      <div class="col-md-4">
        <a href="#beschikbaar" id="beschikbaar-href" role="tab" data-toggle="tab" class="nav-link">
          <div class="card text-white bg-primary mb-3 clickable-card ">
            <div class="card-header">Beschikbare onderzoeken</div>
          </div>
        </a>
      </div>

      <div class="col-md-4">
        <a href="#goedgekeurd" id="goedgekeurd-href" role="tab" data-toggle="tab" class="nav-link">
          <div class="card text-white bg-primary mb-3 clickable-card">
            <div class="card-header">Goedgekeurde inschrijvingen</div>
          </div>
        </a>
      </div>

      <div class="col-md-4">
        <a href="#nieuw" id="nieuw-href" role="tab" data-toggle="tab" class="nav-link">
          <div class="card text-white bg-primary mb-3 clickable-card">
            <div class="card-header">Inschrijvingen in behandeling</div>
          </div>
        </a>
      </div>

      <div class="col-md-4">
        <a href="#afgekeurd" id="afgekeurd-href" role="tab" data-toggle="tab" class="nav-link">
          <div class="card text-white bg-primary mb-3 clickable-card">
            <div class="card-header">Afgekeurde inschrijvingen</div>
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <a href="#alle" id="alle-href" role="tab" data-toggle="tab" class="nav-link">
          <div class="card text-white bg-primary mb-3 clickable-card">
            <div class="card-header">Alle inschrijvingen</div>
          </div>
        </a>
      </div>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" role="tabpanel" id="beschikbaar">
        <h3> Onderzoeken beschikbaar voor inschrijving op basis van uw geslacht, leeftijd, beperking en onderzoeksvoorkeur </h3>
        <ul id="list-beschikbaar" class="onderzoek-list">
        </ul>
      </div>

      <div class="tab-pane" role="tabpanel" id="goedgekeurd">
        <h3> Inschrijvingen goedgekeurd door een beheerder </h3>
        <ul id="list-goedgekeurd" class="onderzoek-list">
        </ul>
      </div>

      <div class="tab-pane" role="tabpanel" id="nieuw">
        <h3> Inschrijvingen in afwachting van goedkeuring door een beheerder </h3>
        <ul id="list-nieuw" class="onderzoek-list">
        </ul>
      </div>

      <div class="tab-pane" role="tabpanel" id="afgekeurd">
        <h3> Inschrijvingen afgekeurd door een beheerder </h3>
        <ul id="list-afgekeurd" class="onderzoek-list">
        </ul>
      </div>

      <div class="tab-pane" role="tabpanel" id="alle">
        <h3> Alle inschrijvingen </h3>
        <ul id="list-alle" class="onderzoek-list">
        </ul>
      </div> 
    </div>
  </div>
</div>
{% endblock %}