{% extends 'base.html' %}
{% block head %}
<link href="/static/css/register.css" rel="stylesheet">
<script src="/static/javascript/javascript.js"></script>
{% endblock %}
{% block content %}

<h1 class="row justify-content-center">Registratie Ervaringsdeskundige</h1>
<div class="container mt-5">
  <div class="row justify-content-center">
      <div class="col-md-6">
          <div class="card">
              <div class="card-body">
                <form action="{{ url_for('auth.registration') }}" method="POST">
                  <div class="form-group">
                      <label class="form-label" for="name">Voornaam</label>
                      <input type="text" id="name" name="name" required>
                  </div>
                  <div class="form-group">
                      <label class="form-label" for="lastname">Achternaam</label>
                      <input type="text" id="lastname" name="lastname" required>
                  </div>
                  <div class="form-group">
                      <label class="form-label" for="postcode">Postcode</label>
                      <input type="text" id="postcode" name="postcode" required>
                  </div>
                  <div class="form-group">
                    <label class="form-label">Geslacht</label>
                      <input type="radio" id="male" name="sex" value="man">
                      <label for="male">Man</label>
                      <input type="radio" id="female" name="sex" value="vrouw">
                      <label for="female">Vrouw</label>
                      <input type="radio" id="other" name="sex" value="other">
                      <label for="other">Other</label>
                  </div>
                  <div class="form-group">
                    <label class="form-label" for="email">Email</label>
                    <input type="email" id="email" name="email" required>
                  </div>
                  <div class="form-group">
                    <label class="form-label" for="username">Gebruikersnaam</label>
                    <input type="text" id="username" name="username" required>
                  </div>
                  <div class="form-group">
                    <label class="form-label" for="password">Wachtwoord</label>
                    <input type="text" id="password" name="password" required>
                  </div>
                  <div class="form-group">
                    <label class="form-label" for="phonenumber">Telefoonnummer</label>
                    <input type="tel" id="phonenumber" name="phonenumber" required>
                  </div>
                  <div>
                    <label class="form-label" for="birthdate">Geboortedatum</label>
                    <input type="date" id="birthdate" name="birthdate" required>
                  </div>
                  <div class="form-group">
                    <label class="form-label" for="used_accessory">Gebruikte hulpmiddel</label>
                    <input type="text" id="used_accessory" name="used_accessory" required>
                  </div>
                  <div class="form-group">
                    <label class="form-label" for="particularities">Bijzonderheden</label>
                    <input type="text" id="particularities" name="particularities" required>
                  </div>
                  <div class="form-group">
                    <label class="form-label">Voogd of toezichthouder</label>
                    <input type="radio" id="yes" name="guardian" value="1" checked>
                    <label for="yes">Ja</label>
                    <input type="radio" id="no" name="guardian" value="0">
                    <label for="no">Nee</label>
                  </div>
                  <div class="form-group" id="guardian_inputs">
                    <div>
                      <label class="form-label" for="name_guardian">Naam voogd</label>
                      <input type="text" id="name_guardian" name="name_guardian">
                    </div>
                    <div>
                      <label class="form-label" for="email_guardian">Voogd email</label>
                      <input type="email" id="email_guardian" name="email_guardian">
                    </div>
                    <div>
                      <label class="form-label" for="phonenumber_guardian">Voogd Telefoonnummer</label>
                      <input type="tel" id="phonenumber_guardian" name="phonenumber_guardian">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="form-label" for="contact_preference">Voorkeur benadering</label>
                    <input type="text" id="contact_preference" name="contact_preference">
                  </div>
                  <div class="form-group">
                    <label class="form-label" for="research_type">Type onderzoek</label>
                    <input type="text" id="research_type" name="research_type">
                  </div>
                  <div class="form-group">
                    <label class="form-label" for="particularities_availability">Bijzonderheden beschikbaarheid</label>
                    <input type="text" id="particularities_availability" name="particularities_availability">
                  </div>
                </form>
              </div>
          </div>
      </div>
  </div>
</div>

{% endblock %}